<div class="navbar navbar-expand-lg navbar-light border-bottom-0 border-top fixed-bottom">
	<div class="text-center d-lg-none w-100">
		<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-third">
			<i class="icon-menu mr-2"></i>
			Bottom navbar
		</button>
	</div>

	<div class="navbar-collapse collapse" id="navbar-third">
		<span class="navbar-text">
			© 2022 - 2022. <a href="#">Unity Analyze</a> by <a href="" target="_blank">Vakoliuk Vladislaw & Serhii Kukhta</a>
		</span>
	</div>
</div>
