<div class="navbar navbar-expand-lg navbar-dark navbar-static">
	<div class="navbar-brand text-center text-lg-left">
		<a href="index.html" class="d-inline-block">
			<p></p>
		</a>
	</div>
	
	<div class="collapse navbar-collapse order-2 order-lg-1" id="navbar_search">
		<div class="navbar-search d-flex align-items-center py-3 py-lg-0">
			<div class="form-group-feedback form-group-feedback-left flex-grow-1">
				<input type="text" class="form-control" placeholder="Search">
				<div class="form-control-feedback">
					<i class="icon-search4 text-white opacity-50"></i>
				</div>
			</div>
		</div>
	</div>

	<LoginDisplay></LoginDisplay>
</div>
