@inherits LayoutComponentBase
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="content d-flex justify-content-center align-items-center">
                @Body
            </div>
        </div>
    </div>
</div>
